* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.sidebar li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar a.active {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form textarea {
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
button:disabled {
  background-color: rgb(158, 158, 158);
  cursor: not-allowed;
}

.confirmation {
  margin-top: 1rem;
  color: green;
  font-weight: bold;
}

@media (max-width: 760px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .main-content {
    padding: 1rem;
  }

  form {
    padding: 1.5rem;
    width: 100%;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content h2 {
  color: green;
  margin-bottom: 10px;
}

.modal-content p {
  color: #777;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
